@import '../styles/breakpoints';

.hero-container {
  margin: 0 auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center; // Center vertically
  align-items: justify; // Center horizontally
  width: 58%;
  text-align: justify; // Align text in the center

  a {
    font-weight: bold;
  }

  @include mobile {
    margin-top: 15vh;
  }

  .hero-title {
    font-family: 'Monaco', Consolas, 'Lucida Console', monospace;
    font-size: 4.5em;
    color: #747fe0;

    &:before {
      content: '>\a0';
    }

    @include mobile {
      font-size: 2.3em;
    }

    span {
      background-color: rgba(#747fe0, 0.65);
      animation: caret 1s steps(1) infinite;
    }

    @keyframes caret {
      50% {
        background-color: transparent;
      }
    }
  }

  .hero-description {
    font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
    font-weight: 200;
    font-size: 1.3em;
    line-height: 40px;
    color: #525f7f;
    margin: 40px 0;

    @include mobile {
      font-size: 1.2em;
      line-height: 30px;
      max-width: 100%;
      margin: 50px 0;
    }
  }
}
